<div class="outer">
  <!-- form container -->
  <div class="add-recipe-form">

    <!--  form title  -->
    <div class="middle">
      <label class="title">Recipe</label>
    </div>

    <!-- recipe form -->
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

      <!--  recipe name input  -->
      <mat-form-field appearance="standard" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name" formControlName="name">
      </mat-form-field>

      <!-- upload photo input -->
      <mat-form-field appearance="standard" class="full-width">
        <div>
          <mat-toolbar class="no-padding-left">
            <!-- Display files names -->
            <input matInput readonly [placeholder]="fileAttr"/>

            <!-- Browse Button -->
            <button mat-flat-button color="primary">Browse File</button>
          </mat-toolbar>

          <!-- Fetch selected filed on change -->
          <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" accept="image/*"/>
        </div>
      </mat-form-field>

      <!-- Image cropper -->
      <div class="cropper-wrapper">
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [containWithinAspectRatio]="containWithinAspectRatio"
          [aspectRatio]="1"
          [resizeToWidth]="350"
          [cropperMinWidth]="150"
          [onlyScaleDown]="false"
          [roundCropper]="false"

          [transform]="transform"
          [alignImage]="'center'"
          [style.display]="showCropper ? null : 'none'"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (mousewheel)="onScroll($event)"
        ></image-cropper>
        <button mat-mini-fab type="button" *ngIf="showCropper" class="mini-button aspect-ratio-button" (click)="toggleContainWithinAspectRatio()">
          <mat-icon>unfold_more</mat-icon>
        </button>
      </div>

<!--      &lt;!&ndash; image uploaded &ndash;&gt;-->
<!--      <div>-->
<!--        <img [src]="imageURL" alt="">-->
<!--      </div>-->

      <!-- ingredients container -->
      <div>
        <!-- ingredients title -->
        <label class="header">Ingredients</label>
        <!-- showing ingredient components  -->
        <div *ngFor="let ingredient of getIngredients.controls; let i = index">
          <!-- ingredient form -->
          <div [formGroup]="ingredient" class="multiple-container">

            <!-- ingredient name input -->
            <mat-form-field appearance="standard" class="ingredient">
              <mat-label>Ingredient {{i + 1}}</mat-label>
              <input matInput type="text" placeholder="Ingredient" formControlName="ingredient">
            </mat-form-field>

            <!-- ingredient quantity input -->
            <mat-form-field appearance="standard" class="quantity">
              <mat-label>Quantity</mat-label>
              <input matInput type="text" placeholder="Quantity" formControlName="quantity">
            </mat-form-field>

            <!-- ingredient remove button -->
            <div>
              <button mat-mini-fab color="primary" type="button" class="mini-button" (click)="removeIngredient(i)">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <!-- add new ingredient button -->
        <div>
          <button mat-mini-fab color="primary" type="button" class="mini-button top-margin" (click)="addNewIngredient()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <mat-error *ngIf="ingredientsError" class="full-width">
        Need at least one ingredient!
      </mat-error>

      <!-- steps container -->
      <div class="top-margin">
        <label class="header">Steps</label>

        <!-- showing step components  -->
        <div *ngFor="let step of getSteps.controls; let i = index">
          <!-- steps form -->
          <div [formGroup]="step" class="multiple-container">

            <!-- step textarea input -->
            <mat-form-field class="step">
              <mat-label>Step {{i + 1}}</mat-label>
              <textarea matInput formControlName="step"></textarea>
            </mat-form-field>

            <!-- step remove button -->
            <div>
              <button mat-mini-fab color="primary" type="button" class="mini-button" (click)="removeStep(i)">
                <mat-icon>remove</mat-icon>
              </button>
            </div>

          </div>
        </div>

        <!-- add new step button -->
        <div>
          <button mat-mini-fab color="primary" type="button" class="mini-button top-margin" (click)="addNewStep()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <mat-error *ngIf="stepsError" class="full-width">
        Need at least one step!
      </mat-error>

      <!-- submit button -->
      <div class="middle">
        <button mat-raised-button color="primary" (click)="validateForm()">Submit</button>
      </div>
    </form>
  </div>

</div>
