#outer {
  display: flex;
  align-items: center;
}

.center {
  margin: 100px auto auto;
}

.rectangle {
  max-width: 300px;

  padding: 25px;

  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 5px 10px rgb(89, 1, 128);
}

.middleTextPosition {
  text-align: center;
}

.title {
  font-weight: bold;
  color: rgb(89, 1, 128);
  font-size: 25px;
}

.full-width{
  width: 100%;
}

.thin {
  height: 25px;
  line-height: 25px;
}

.push {
  height: 25px;
}

.text {
  margin: 0;

  font-size: 17px;
}

a:link, a:visited, a:hover, a:active {
  font-weight: 600;
  text-decoration: none;
  color: rgb(89, 1, 128);
}

.pointer {
  cursor: pointer;
}
