.filler {
  flex: 2 1 auto;
}

.profile-button {
  width: 50px;
  height: 50px;
  /*background-color: rgb(255, 247, 185);*/
  background-image: url("../../../assets/logo.png");
  background-size: 55px 55px;

  background-position: center;
  background-repeat: no-repeat;

  margin-left: 10px;
}

.nickname {
  display: table-cell;
  vertical-align: middle;

  font-size: 20px;
}

mat-toolbar {
  background-image: linear-gradient(to right bottom, rgb(103, 58, 183), rgba(103, 58, 183, 0.5));
}
