<!-- toolbar -->
<mat-toolbar>

  <!-- filler helping positioning next components at the end of the toolbar -->
  <span class="filler"></span>

  <!-- home button -->
  <button mat-icon-button (click)="goHome()" class="dimensions icon-size">
    <mat-icon [inline]="true">home</mat-icon>
  </button>

  <!-- user nickname -->
  <div class="nickname">
    {{nickname}}
  </div>

  <!-- profile button -->
  <button mat-fab (click)="goToProfile()" class="profile-button dimensions" [ngStyle]="{ 'background-image': 'url('+profileImage+')' }"></button>

  <!-- logout button -->
  <button mat-icon-button (click)="logout()" class="dimensions icon-size">
    <mat-icon [inline]="true">logout</mat-icon>
  </button>
</mat-toolbar>
