<div id="centerFormPosition">
  <form (ngSubmit)="login()">
    <div class="middleTextPosition">
      <label id="title">Login</label>
    </div>

    <mat-error *ngIf="hasLoginError" class="full-width">
      Authentication error.
    </mat-error>

    <mat-form-field appearance="standard" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" type="text" [(ngModel)]="username" name="user">
    </mat-form-field>

    <mat-form-field appearance="standard" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="pass">
    </mat-form-field>

    <div class="middleTextPosition">
      <button type="submit" mat-raised-button color="primary">Login</button>
    </div>
  </form>
  <div>
    <button (click)="test()">buton</button>
  </div>
</div>
