@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

#centerFormPosition {
  max-width: 300px;

  margin: 100px auto auto;
  padding: 10px;

  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 5px 10px rgb(89, 1, 128);
}

.middleTextPosition {
  text-align: center;
}

.full-width{
  width: 100%;
}

#title {
  font-weight: bold;
  /*color: deeppink;*/
  color: rgb(89, 1, 128);
  font-size: 25px;
}
