/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~material-icons/iconfont/material-icons.css";

html, body {
  height: 100%;
  /*background-color: rgb(255, 247, 185);*/
  background-image: linear-gradient(to right top, white, rgb(255, 247, 185));
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.wrapper {
  min-height: 100%;

  margin-bottom: -150px;
}
footer, .push {
  height: 150px;
}

footer {
  /*background-color: rgb(103, 58, 183);*/
  background-image: linear-gradient(to bottom, rgb(103, 58, 183), rgba(103, 58, 183, 0.5));
}

.middle-logo {
  height: 100%;
  width: 100%;

  position: relative;
}

.logo {
  height: 75px;
  width: auto;
}

.middle-position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.copyright-text {
  position: absolute;
  text-align: center;

  width: 100%;
  line-height: 25px;

  bottom: 0;

  color: rgba(0, 0, 0, 0.7);
}
