img {
  width: 400px;
  height: auto;
}

/*h1 {*/
/*  width: 400px;*/
/*}*/

/*.middle {*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*}*/

/*.block {*/
/*  display: block;*/
/*}*/

/*.margin {*/
/*  margin: 10px;*/
/*}*/

.sideMargin {
  margin-left: auto;
  margin-right: auto;

  width: 900px;
}

.card {
  height: 350px;
}

.bottomPosition {
  position: absolute;
  bottom: 15px;
}

:host {
  /*background-color: rgb(230, 230, 230);*/
  background-color: inherit;
  display: block;
}

.red {
  fill: red;
}


