img {
  width: 400px;
  height: 270px;
}

.sideMargin {
  margin: 25px auto;

  width: 900px;
}

.add-button {
  text-align: center;
  margin-bottom: 25px;
}

.red {
  fill: rgb(103, 58, 183);
}

.outer {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-image: linear-gradient(to right top, white, rgb(255, 247, 185));
}

