<div class="full-width">
  <!-- the entire header wrapper -->
  <div class="header">
    <!-- profile image -->
    <div>
      <img src="{{profileImage}}" alt="profile_pic" class="profile-pic">
    </div>

    <!-- wrapper for right side of the header -->
    <div class="main-wrapper">

      <!-- wrapper for the top side -->
      <div class="flex-wrapper">

        <div class="top top-left">
          <label class="number-label">{{nrOfPosts}}</label>
          <label class="number-label">&nbsp;</label>
          <label class="text-label">Posts</label>
        </div>

        <div class="top top-middle" (click)="onLikedRecipes()">
          <label class="number-label">{{nrOfLikedPosts}}</label>
          <label class="number-label">&nbsp;</label>
          <label class="text-label">Liked</label>
        </div>

        <div class="top top-right" (click)="onCookedRecipes()">
          <label class="number-label">{{nrOfCookedRecipes}}</label>
          <label class="number-label">&nbsp;</label>
          <label class="text-label">Cooked</label>
        </div>
      </div>

      <!-- wrapper for the bottom side -->
      <div class="flex-wrapper">

        <div class="bottom bottom-center">
          <button mat-raised-button class="bottom-button" color="primary" (click)="onEditProfile()">Change profile pic</button>
        </div>

<!--        <div class="bottom bottom-right">-->
<!--          <button mat-raised-button class="bottom-button" color="primary">Settings</button>-->
<!--        </div>-->
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>
</div>
