<div class="wrapper" *ngIf="areLikesLoaded && areCooksLoaded">
  <mat-card *ngFor="let recipe of recipes | filter: searchText; let i = index">
    <mat-card-header>
      <mat-card-title>{{recipe.name}}</mat-card-title>
    </mat-card-header>

    <div class="no-height" *ngIf="currentUrl === '/profile'">
      <button mat-icon-button [disableRipple]="true" class="relative-right" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onDelete(recipe.id)">
          <mat-icon>delete</mat-icon>
          <span>Delete recipe</span>
        </button>
        <button mat-menu-item (click)="onUpdate(recipe)">
          <mat-icon>edit</mat-icon>
          <span>Update recipe</span>
        </button>
      </mat-menu>
    </div>

    <img mat-card-image src="{{recipe.url}}" alt="{{recipe.url}}">

    <div class="no-height">
      <button mat-icon-button class="expand" [disableRipple]="true" (click)="showFullRecipe(i)" *ngIf="!showEntireRecipe[i]">
        <mat-icon>expand_more</mat-icon>
      </button>
      <button mat-icon-button class="expand" [disableRipple]="true" (click)="showFullRecipe(i)" *ngIf="showEntireRecipe[i]">
        <mat-icon>expand_less</mat-icon>
      </button>
    </div>

    <mat-card-content *ngIf="showEntireRecipe[i]">
      <mat-card-title class="bottom-margin">Ingredients</mat-card-title>
      <div class="bottom-margin">
        <div *ngFor="let element of ingredientsAndQuantities(recipe.ingredients, recipe.quantities)" class="inline">
          <p>{{element[0]}}</p>
          <p>{{element[1]}}</p>
        </div>
      </div>
      <mat-card-title class="bottom-margin">Steps</mat-card-title>
      <div *ngFor="let step of stringToArray(recipe.steps)" class="inline">
        <p>{{step}}</p>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-icon-button (click)="onHeartClick(recipe.id)">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25px" height="25px" id="heart" [ngClass]="{ 'purple': likes.get(recipe.id), 'black': !likes.get(recipe.id) }">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
        </svg>
      </button>
      <button mat-icon-button (click)="onCookClick(recipe.id)">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25px" height="25px" [ngClass]="{ 'purple': cooks.get(recipe.id), 'black': !cooks.get(recipe.id) }">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path d="M8.1 13.34l2.83-2.83-6.19-6.18c-.48-.48-1.31-.35-1.61.27-.71 1.49-.45 3.32.78 4.56l4.19 4.18zm6.78-1.81c1.53.71 3.68.21 5.27-1.38 1.91-1.91 2.28-4.65.81-6.12-1.46-1.46-4.2-1.1-6.12.81-1.59 1.59-2.09 3.74-1.38 5.27L4.4 19.17c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 14.41l6.18 6.18c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L13.41 13l1.47-1.47z"/>
        </svg>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

