<!-- Image cropper -->
<div class="cropper-wrapper">
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [containWithinAspectRatio]="containWithinAspectRatio"
    [aspectRatio]="1"
    [resizeToWidth]="350"
    [cropperMinWidth]="150"
    [onlyScaleDown]="false"
    [roundCropper]="roundCropper"

    [transform]="transform"
    [alignImage]="'center'"
    [style.display]="showCropper ? null : 'none'"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (mousewheel)="onScroll($event)"
  ></image-cropper>
  <button mat-mini-fab type="button" *ngIf="showCropper" class="mini-button" (click)="toggleContainWithinAspectRatio()">
    <mat-icon>unfold_more</mat-icon>
  </button>
</div>
